@charset "UTF-8";

body{
	background-color:#4a4a4a;
}

a { 
	text-decoration:none;
	color: white;
} 

span{
	color: white;
}

h1{
	color: white;
	text-align: center;
}

h2{
	color: white;
}

#search {
	width: 100px;
	height: 30px;
	border-radius: 15px; 
	text-align: center;
	background-color:#2bd3c6;
	color: black;
}
#query{
	width: 100px;
	height: 30px;
	border-radius: 15px; 
	text-align: center;
	background-color:#2bd3c6;
	color: black;
}

input[type="button"]{
 	text-align: center;
	background-color:#2bd3c6;
	font-size: 14px;
	height: 31px;
    border:none;
    margin-left:-8px;
} 
input[type="text"]{
	font-size: 14px;
	outline:none;
	width: 120px;
	height: 32px;

}

.var{
	text-align: right;
	float:right;
	display: flex;
}

